@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,600;1,8..144,600&display=swap');

:root{
  --red : #d01c28;
  --grey: #2e2e2e;
}
*{
  margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Serif', serif;
}
button{
  all:unset;
  padding: 6px 16px;
  background:  var(--red);
  height:32px;
  color:white;
  font-weight: 500;

}
.container {
margin: 0 auto;
max-width: 1280px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:72px;
}
nav ul{
  display: flex;
  list-style: none;
  gap:24px;
}

.hero{
  max-width: 1280px;
margin:0 auto;
  display: flex;
  align-items: center;
  height:calc(100vh - 72px);
}
.hero h1{
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
}
.hero p{
  font-weight: 600;
  color:var(--grey);
  max-width: 400px;
}
.hero-btn{
  display: flex;
  flex-direction: row;
  gap:40px;
}
.second-btn{
  background: transparent;
  color:var(--grey);
  border: 1px solid grey;

}
.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
  
}
.brand-icon{
  display: flex;
  gap:16px;
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap:36px;
}